<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>

<%# Whoa magic! %>
<%#= render @movies %>

<% @movies.each do |m| %>
  <%= render 'movie', movie: m %>
  <%#= render m %>
<% end %>
