<tr>
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <% unless user.admin? %>
      <%#= link_to 'switch', switch_admin_user_path(user) %>
      <%= link_to 'switch', [:switch, :admin, user] %>
    <% end %>
  </td>
</tr>
